

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1 class="paperId">Scrape</h1>
    <p class="paperId">National Public Radio</p>
  </div>
</div>
<div class="container">
    {{#each article}}
  
    <div class="card pt-3">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title scrapedLink">  <li>{{this.link}}</li></h5>
    <p class="card-text scrapedSummary">{{this.summary}}</p>
    <p class="card-text scrapedTitle">{{this.title}}</p>
    <a class="btn btn-primary saveArticleButton" data-summary= "{{this.summary}}" data-id= "{{this.id}}" data-title="{{this.title}}" data-link="{{this.link}}">Save Article</a>
  </div>
</div>
  {{/each}}
    {{#each Saved}}
  
    <div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title scrapedLink">  <li>{{this.link}}</li></h5>
    <p class="card-text scrapedSummary">{{this.summary}}</p>
    <p class="card-text scrapedTitle">{{this.title}}</p>
    <a class="btn btn-primary deleteSaved" data-id= "{{this.id}}"data-title="{{this.title}}" data-link="{{this.link}}">Delete Article</a>
    <a class="btn btn-primary addNote" data-id= "{{this.id}}"data-title="{{this.title}}" data-link="{{this.link}}"data-target="#articleNotesModal">Article Notes</a>
  </div>
</div>
  {{/each}}


</div>
{{!-- unless article display this bar/message --}}
{{!-- if article display cards --}}

<div class="modal" id="articleNotesModal"tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"data-id= "{{this.id}}">Notes for article: <span class="noteId"></span></h5>
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> --}}
          {{!-- <span aria-hidden="true">&times;</span> --}}
        {{!-- </button> --}}
        
      </div>
      <div class="modal-body">
        <div class="prevPostedNotes" placeholder="No notes for this article yet">
           {{#each Note}}

           <a class="btn btn-primary deleteNote" data-id= "{{this.id}}"data-title="{{this.title}}" data-link="{{this.link}}">Delete Note</a>
           {{/each}}
        </div>
        <form>
          <div class="form-group">
    <label for="exampleFormControlTextarea1">New Note</label>
    <textarea class="form-control" id="noteBody" rows="3"></textarea>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary postNewNote">Post Note</button>
      </div>
    </div>
  </div>
</div>