<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1 class="paperId">Scrape</h1>
    <p class="paperId">National Public Radio</p>
  </div>
</div>
<div class="container">
  <div class= "row">
  {{#if article}}
    {{#each article}}
  
    <div class= "col-4">
    <div class="card pt-3 m-3" style="width: 18rem;">
  <div class="card-header">
    <h4>{{this.headerArticle}}</h4>
  </div>
  <div class="card-body">
     
     <h5 class="card-title scrapedLink"><a href="{{this.link}}">{{this.title}}</a></h5>
    
    <img src="{{this.summary}}" class="card-img-top scrapedSummary" alt="...">
   
    <a class="btn btn-primary saveArticleButton" data-summary= "{{this.summary}}" data-id= "{{this.id}}" data-title="{{this.title}}" data-link="{{this.link}}">Save Article</a>
  </div>
  </div>
</div>

  {{/each}}
  </div>
  {{else if Saved}}
    {{#each Saved}}
  
    <div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
     <h5 class="card-title scrapedLink"><a href="{{this.link}}">{{this.title}}</a></h5>
    
    <img src="{{this.summary}}" class="card-img-top scrapedSummary" alt="...">
    
    <a class="btn btn-primary deleteSaved" data-id= "{{this.id}}"data-title="{{this.title}}" data-link="{{this.link}}">Delete Article</a>
    <a class="btn btn-primary addNote" data-id= "{{this.id}}" data-title="{{this.title}}" data-link="{{this.link}}"data-target="#articleNotesModal">Article Notes</a>
  </div>
</div>
  {{/each}}
  {{/if}}

  
  


</div>
<div class="container-fluid article-container">
{{#unless article}}
<div class="alert alert-warning text-center"><h4>Uh Oh. Looks like we don't have any new articles.</h4></div>
<div class="card"><div class="card-header choices text-center"><h3>What Would You Like To Do?</h3></div><div class="card-body text-center"><h4><a class="scrape-articles" href="/">Try Scraping New Articles</a></h4><h4><a href="/savedArticle">Go to Saved Articles</a></h4></div></div>
{{else unless Saved}}
<div class="alert alert-warning text-center"><h4>Uh Oh. Looks like we don't have any new articles.</h4></div>
<div class="card"><div class="card-header choices text-center"><h3>Try browsing scraped articles</h3></div><div class="card-body text-center"><h4><a href="/">Browse Scraped Articles!</a></h4></div></div>

{{!-- {{/unless}} --}}
{{/unless}}
</div>
<div class="container-fluid article-container">

</div>




{{!-- MODAL FOR NOTES --}}
<div class="modal" id="articleNotesModal"tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"data-id= "{{this.id}}">Notes for article: <span class="noteId"></span></h5>
      
        
      </div>
      <div class="modal-body">
        <div class="prevPostedNotes" placeholder="No notes for this article yet">
        </div>
        <form>
          <div class="form-group">
    <label for="exampleFormControlTextarea1">New Note</label>
    <textarea class="form-control" id="noteBody" rows="3"></textarea>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary postNewNote">Post Note</button>
      </div>
    </div>
  </div>
</div>