

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1 class="paperId">Scrape</h1>
    <p class="paperId">National Public Radio</p>
  </div>
</div>
<div class="container">
    {{#each article}}
  
    <div class="card pt-3">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title scrapedLink">  <li>{{this.link}}</li></h5>
    <p class="card-text scrapedSummary">{{this.summary}}</p>
    <p class="card-text scrapedTitle">{{this.title}}</p>
    <a href="/savedArticle" class="btn btn-primary saveArticleButton" data-summary= "{{this.summary}}" data-id= "{{this.id}}" data-title="{{this.title}}" data-link="{{this.link}}">Save Article</a>
  </div>
</div>
  {{/each}}
    {{#each Saved}}
  
    <div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title scrapedLink">  <li>{{this.link}}</li></h5>
    <p class="card-text scrapedSummary">{{this.summary}}</p>
    <p class="card-text scrapedTitle">{{this.title}}</p>
    <a href="/save" class="btn btn-primary " data-id= "{{this.id}}"data-title="{{this.title}}" data-link="{{this.link}}">Save Article</a>
  </div>
</div>
  {{/each}}


</div>
{{!-- unless article display this bar/message --}}
{{!-- if article display cards --}}

